@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * Most styles have been moved to:
 * 1. Critical CSS (inlined in layout.tsx)
 * 2. Non-critical CSS (loaded asynchronously from /public/non-critical.css)
 */

/* Base colors */
:root {
  /* Woodsmoke Base Colors */
  --base-50: 0 0% 98%;
  --base-100: 0 0% 96%;
  --base-200: 0 0% 90%;
  --base-300: 0 0% 80%;
  --base-400: 0 0% 70%;
  --base-500: 0 0% 60%;
  --base-600: 0 0% 50%;
  --base-700: 0 0% 40%;
  --base-800: 0 0% 30%;
  --base-900: 0 0% 20%;
  --base-950: 0 0% 10%;
  --base-1000: 0 0% 5%;

  /* Madang Primary Colors */
  --primary-50: 140 80% 95%;
  --primary-100: 140 75% 90%;
  --primary-200: 140 70% 85%;
  --primary-300: 140 65% 75%;
  --primary-400: 140 60% 65%;
  --primary-500: 140 55% 55%;
  --primary-600: 140 50% 45%;
  --primary-700: 140 45% 35%;
  --primary-800: 140 40% 25%;
  --primary-900: 140 35% 15%;
  --primary-950: 140 30% 10%;
  --primary-1000: 140 25% 5%;

  /* Kaitoke Green Secondary Colors */
  --secondary-50: 150 80% 95%;
  --secondary-100: 150 75% 90%;
  --secondary-200: 150 70% 85%;
  --secondary-300: 150 65% 75%;
  --secondary-400: 150 60% 65%;
  --secondary-500: 150 55% 55%;
  --secondary-600: 150 50% 45%;
  --secondary-700: 150 45% 35%;
  --secondary-800: 150 40% 25%;
  --secondary-900: 150 35% 15%;
  --secondary-950: 150 30% 10%;
  --secondary-1000: 150 25% 5%;

  /* System Colors */
  --background: var(--base-1000);
  --foreground: var(--base-100);

  --card: var(--base-950);
  --card-foreground: var(--base-100);

  --popover: var(--base-950);
  --popover-foreground: var(--base-100);

  --muted: var(--base-900);
  --muted-foreground: var(--base-400);

  --accent: var(--secondary-800);
  --accent-foreground: var(--base-100);

  --destructive: 0 62% 30%;
  --destructive-foreground: var(--base-100);

  --border: var(--base-900);
  --input: var(--base-900);
  --ring: var(--primary-500);

  --radius: 1.5rem;

  --surface-container: var(--base-950);
  --surface-container-light: var(--base-900);
}
